<div class="page-wrapper">
	<div class="auth-bg">
		<div class="authentication-box">
			<div class="text-center "><img class="img-60 rounded-circle" src="assets/images/brand-logo.webp" alt=""> </div>
			<div class="card mt-4">
				<div class="card-body">


					<div class="text-center">
						<h4>Workopolo LOGIN</h4>
						<h6>Enter your Email/Phone and Password </h6>
					</div>


					<form class="theme-form" #form="ngForm" (ngSubmit)="submit(form)">
						<div class="form-group">
							<label class="col-form-label">Email or Phone</label>
							<input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username"
								required #username="ngModel" minlength="6">
							<div *ngIf="form.submitted && username.invalid" class="text-danger">
								<div *ngIf="username.errors.required">Username is required</div>
								<div *ngIf="username.errors.minlength">Username must be at least 6 characters</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
							<input type="password" class="form-control" id="password" name="email"
								[(ngModel)]="user.password" required #password="ngModel" minlength="6">
							<div *ngIf="form.submitted && password.invalid" class="text-danger">
								<div *ngIf="password.errors.required">Password is required</div>
								<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
							</div>
						</div>
						<div class="checkbox p-0">
							<input id="checkbox1" type="checkbox">
							<label for="checkbox1">Remember me</label>
						</div>
						<div class="form-group form-row mt-3 mb-0">
							<button type="submit" placement="top" ngbtooltip="btn btn-success" class="btn btn-primary btn-block btn-lg">Login</button>
						</div>
						<br>
						<div class="login-divider"></div>
						<div class="social mt-3">
							<div class="form-group btn-showcase d-flex">
								<button class="btn social-btn btn-fb d-inline-block" (click)="loginFacebook()">
									<i class="fa fa-facebook"></i>
								</button>
								<button class="btn social-btn btn-twitter d-inline-block" (click)="loginTwitter()">
									<i class="fa fa-twitter"></i>
								</button>
								<button class="btn social-btn btn-google d-inline-block" (click)="loginGoogle()">
									<i class="fa fa-google"></i>
								</button>
							</div>
						</div>
					</form>


				</div>
			</div>
		</div>
	</div>
</div>