<app-loader></app-loader>
<ngx-spinner
        bdColor="#f8f9fac7"
        size="default"
        color="#212529"
        type="line-scale">
    <p style="font-size: 20px; color: dimgray">Loading...</p>
</ngx-spinner>
<router-outlet></router-outlet>
