.static-top-widget .media-body {
    align-self: center !important;
    padding-left: 20px;
}
.app-widgets{
    cursor: pointer;
    min-height: 130px !important;
}
.user-activity{
    cursor: pointer;
}

.user-activity:hover{
    background-color: rgb(201, 225, 228);
}
