<div class="container-fluid">

    <div class="row widget-row">
        <!-- Widgets -->
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="itemView == 1">Widgets</h5>
                    <h5 *ngIf="itemView == 2">Summery Details</h5>
                </div>


                <!-- List -->
                <div class="card-body row" *ngIf="itemView == 1" >
                    <div *ngFor="let item of userWidgets | keyvalue" class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <div class="card o-hidden app-widgets" (click)='getUserWidgetSummary(item.key)'>
                            <div class="b-r-4 card-body" [style.backgroundColor]="item.value.color">
                                <div class="media static-top-widget">
                                    <div class="align-self-center text-center">
                                        <app-feather-icons [icon]="'watch'"></app-feather-icons>
                                    </div>
                                    <div class="media-body"><span class="m-0">{{item.value.title}}</span>
                                        <h4 class="mb-0 counter" [CountTo]=item.value.value [from]="0" [duration]="1">
                                            {{item.value.value}}</h4>
                                        <i class="icon-bg" data-feather="watch"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Details -->
                <div class="card-body row" *ngIf="itemView == 2" >
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="card">
                            <div class="ecommerce-widget card-body">
                                <div class="row">
                                    <div class="col-6"><span>{{activitySummery.hours.title}}</span>
                                    <!-- <h3 class="total-num counter" [CountTo]="16665" [from]="0" [duration]="1">{{activitySummery.hours.indicator}}</h3> -->
                                    <h3 class="total-num counter" [style.color]="activitySummery.hours.indicator_color" >{{activitySummery.hours.indicator}}</h3>
                                    </div>
                                    <div class="col-6">
                                    <div class="text-md-left">
                                        <ul>
                                        <li><i class="fa fa-tasks"></i> {{activitySummery.hours.fields[0].text}}<span class="product-stts font-primary ml-2">{{activitySummery.hours.fields[0].value}}</span></li>
                                        <li><i class="fa fa-clock-o"></i> {{activitySummery.hours.fields[1].text}}<span class="product-stts font-primary ml-2">{{activitySummery.hours.fields[1].value}}</span></li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                <div class="progress-showcase">
                                    <div class="progress lg-progress-bar">
                                    <div class="progress-bar" [style.backgroundColor]="activitySummery.hours.indicator_color" role="progressbar" style="width: 100%" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                        <!-- <button (click)='viewControl(1)' class="btn btn-danger-gradien">CLOSE</button> -->
                        <button (click)='getUserWidgets()' class="btn btn-danger-gradien">CLOSE</button>
                    </div>
                    
                </div>




            </div>
        </div>

        <!-- Activities -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Activities</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                
                                <li *ngFor="let item of userWidgets | keyvalue" class="list-group-item d-flex justify-content-between align-items-center user-activity" >
                                    Cras justo odio
                                    <span class="badge badge-primary counter digits">14</span>
                                    <span class="badge badge-secondary counter digits">2</span>
                                    <span class="badge badge-info badge-pill digits">100%</span>
                                    <span class="badge badge-danger badge-pill digits">sale</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>