/* You can add global styles to this file, and also import other style files */
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

.dtable {
  table-layout: fixed;
  //width: 100%;
  //white-space: nowrap;
}
.dtable td {
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: #e3dac5;
  background-color: #d39e00;
  border-color: #c69500;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: black !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#111111));
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
}

.note-time{
  float: right;
  font-size: 11px;
  font-style: italic;
  padding-right: 5px;
}
.note-name{
  font-weight: bold;
}

.notes{
  background: #c3e7fa;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}

.form-title{
  border-bottom: 2px solid #3751c2;
  padding-bottom: 3px;
  padding-right: 21px;
  padding-left: 3px;
}

.widget-heading{
  padding: 0px 0px 0px 5px;
  margin-bottom: 7px;
}

.widget-row{
  background: #c6c6c652;
  padding: 10px 0px 18px 0px;
  border-radius: 5px;
  margin-bottom: 15px;
}
